# Rust builds
/target

# IDE Configs
.idea

# Blender auto saves
*.blend1

# Krita auto saves
*.png~
*.kra~

# Game save
assets/game_state.scn.ron

# This file contains environment-specific configuration like linker settings
.cargo/config.toml

# Nightly toolchain
rust-toolchain.toml
justfile

