# Rust builds
/target

# Game save
assets/game_state.scn.ron

# IDE Configs
.idea

# Chunk assets
assets/chunks/*

# This file contains environment-specific configuration like linker settings
.cargo/config.toml

# Nightly toolchain
rust-toolchain.toml
justfile

